doctype html

html
  head
    meta(charset="UTF-8")
    title 留言板
    style.
      a {
        color: red;
      }
  body
    form(action="/" method="post")
      input(name="username")
      textarea(name="content")
      button 提交

    hr

    each msg in messages
      div
        h4= msg.username
        div= msg.content
        time= new Date(msg.timestamp)
        a(href="/delete/" + msg.id) 删除



CSRF
  Cross Site Request Forgery